<a href="https://colab.research.google.com/github/projjal1/Machine-Learning-Sklearn/blob/main/AVG_time_spent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Buyer's Time Prediction Challenge https://www.machinehack.com/hackathons/buyers_time_prediction_challenge/overview

Importing all the required modules

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb

Importing training dataset

In [ ]:
train=pd.read_csv("Train.csv")

In [ ]:
train.head(5)

                         session_id  session_number  ... checked_out time_spent
0  57f879e70d3c5fc2a98102d64c9fd84e             715  ...           0    236.886
1  a5442b0c7c33d0a811e7661e556b2de8              55  ...           0   1277.455
2  305cb1486ed8610c00b37007926cb2c4              11  ...           0     21.704
3  f2c1ecc9993f0071df91ba178450498c            2794  ...           0    455.201
4  e460830ae295e55d2216ebdc761ab9a6            3674  ...           0   1164.877

[5 rows x 9 columns]

Dropping "session_id","client_agent" columns as they have no correlation

In [ ]:
train=train.drop(["session_id","client_agent"],axis=1)

In [ ]:
train.head(5)

   session_number      device_details  ... checked_out  time_spent
0             715    Desktop - Chrome  ...           0     236.886
1              55        iPhone - iOS  ...           0    1277.455
2              11  iPhone - MobileWeb  ...           0      21.704
3            2794        Desktop - IE  ...           0     455.201
4            3674        iPhone - Web  ...           0    1164.877

[5 rows x 7 columns]

Splitting date into yy-mm-dd columns

In [ ]:
yy=[]
mm=[]
dd=[]

for each in train.date.values:
  string_rp=each.split('-')
  yy.append(int(string_rp[0]))
  mm.append(int(string_rp[1]))
  dd.append(int(string_rp[2]))

train["yy"]=pd.DataFrame(yy)
train["mm"]=pd.DataFrame(mm)
train["dd"]=pd.DataFrame(dd)

In [ ]:
train.head(5)

   session_number      device_details        date  ...    yy  mm  dd
0             715    Desktop - Chrome  2020-01-22  ...  2020   1  22
1              55        iPhone - iOS  2020-02-27  ...  2020   2  27
2              11  iPhone - MobileWeb  2019-08-01  ...  2019   8   1
3            2794        Desktop - IE  2019-12-30  ...  2019  12  30
4            3674        iPhone - Web  2019-09-10  ...  2019   9  10

[5 rows x 10 columns]

In [ ]:
train=train.drop(["date"],axis=1)

Extracting target labels from dataset

In [ ]:
train_y=train["time_spent"].values
train=train.drop(["time_spent"],axis=1)

Applying Label Encoder on columns to encode labels

In [ ]:
for each in ["device_details"]:
  train[each]=LabelEncoder().fit_transform(train[each])

In [ ]:
train.head(5)

   session_number  device_details  purchased  ...    yy  mm  dd
0             715               6          1  ...  2020   1  22
1              55              16          1  ...  2020   2  27
2              11              14          0  ...  2019   8   1
3            2794               8          0  ...  2019  12  30
4            3674              15          0  ...  2019   9  10

[5 rows x 8 columns]

Performing scaling on train dataset

In [ ]:
from sklearn.preprocessing import RobustScaler
train=RobustScaler().fit_transform(train)

Using Random Forest Regressor for training the model

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)
model.fit(train,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

Test dataset

In [ ]:
test=pd.read_csv("Test.csv")

Dropping unnecessary columns

In [ ]:
test=test.drop(["client_agent","session_id"],axis=1)

Splitting date columns into yy-mm-dd columns

In [ ]:
yy=[]
mm=[]
dd=[]

for each in test.date.values:
  string_rp=each.split('-')
  yy.append(int(string_rp[0]))
  mm.append(int(string_rp[1]))
  dd.append(int(string_rp[2]))

test["yy"]=pd.DataFrame(yy)
test["mm"]=pd.DataFrame(mm)
test["dd"]=pd.DataFrame(dd)

In [ ]:
test=test.drop(["date"],axis=1)
test.head(5)

   session_number           device_details  purchased  ...    yy  mm  dd
0              99             Desktop - IE          1  ...  2020   1   7
1             935  Android Phone - Android          0  ...  2020   2  13
2             902             iPhone - iOS          1  ...  2019  10  14
3            3223             Desktop - IE          0  ...  2020   1  26
4             231         Desktop - Chrome          0  ...  2020   1  29

[5 rows x 8 columns]

Label Encoding "device_details"

In [ ]:
for each in ["device_details"]:
  test[each]=LabelEncoder().fit_transform(test[each])
test.head(5)

   session_number  device_details  purchased  ...    yy  mm  dd
0              99               7          1  ...  2020   1   7
1             935               0          0  ...  2020   2  13
2             902              15          1  ...  2019  10  14
3            3223               7          0  ...  2020   1  26
4             231               5          0  ...  2020   1  29

[5 rows x 8 columns]

Scaling data

In [ ]:
test=RobustScaler().fit_transform(test)

Performing predictions on the test data

In [ ]:
model.predict(test)

array([1135.83773467,  164.957224  , 1207.096976  , ...,  120.261175  ,
       1411.909521  ,  966.247283  ])

In [ ]:
submit=pd.read_csv("Sample Submission.csv")

Submission dataframe conversion from array of predicted values

In [ ]:
submit["time_spent"]=pd.DataFrame(model.predict(test))

Submitting the model test data

In [ ]:
submit.to_csv("Submit.csv",index=False)