<a href="https://colab.research.google.com/github/projjal1/Machine-Learning-Sklearn/blob/main/Book_Price_Estimation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Hackathon 
https://www.machinehack.com/hackathons/predict_the_price_of_books/overview

In [ ]:
import numpy as np
import tensorflow as tf
import pandas as pd

In [ ]:
train_data=pd.read_excel('https://github.com/projjal1/datasets/blob/master/Book%20Price%20Pred%20Ds/Data_Train.xlsx?raw=true')
train_data.head()

                                        Title  ...   Price
0         The Prisoner's Gold (The Hunters 3)  ...  220.00
1          Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                Leviathan (Penguin Classics)  ...  299.00
3          A Pocket Full of Rye (Miss Marple)  ...  180.00
4  LIFE 70 Years of Extraordinary Photography  ...  965.62

[5 rows x 9 columns]

In [ ]:
y=train_data['Price'].values
train_data=train_data.drop('Title',axis=1)
train_data=train_data.drop('Synopsis',axis=1)
train_data=train_data.drop('Edition',axis=1)
train_data=train_data.drop('Price',axis=1)

In [ ]:
print('Few labels: ',y[:5])

Few labels:  [220.   202.93 299.   180.   965.62]

In [ ]:
train_data.head()

            Author  ...                          BookCategory
0   Chris Kuzneski  ...                    Action & Adventure
1     Arun Khopkar  ...  Biographies, Diaries & True Accounts
2    Thomas Hobbes  ...                                Humour
3  Agatha Christie  ...             Crime, Thriller & Mystery
4  Editors of Life  ...              Arts, Film & Photography

[5 rows x 5 columns]

Let's create buckets

In [ ]:
import re

In [ ]:
def preprocess(data):
  for each in ['Author','Genre','BookCategory']:
    data[each]=pd.Categorical(data[each])
    data[each]=data[each].cat.codes
  reviews=[]
  for each in data['Reviews'].values:
    reviews.append(float(each[:3]))
  ratings=[]
  for each in data['Ratings'].values:
    res=re.search(r"\d*",each)
    ratings.append(float(res[0]))
  reviews=pd.DataFrame(reviews)
  ratings=pd.DataFrame(ratings)
  data['Ratings']=ratings
  data['Reviews']=reviews
  return data

In [ ]:
train=preprocess(train_data)
train.head()

   Author  Reviews  Ratings  Genre  BookCategory
0     615      4.0      8.0      1             0
1     307      3.9     14.0     74             2
2    3390      4.8      6.0    193             6
3      62      4.1     13.0     92             5
4     953      5.0      1.0    253             1

#Model training using sklearn Linear Regression module 
Let's compare the result of a tf NN and sklearn Linear Regression module

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train= scaler.fit_transform(train)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Dropout
model = Sequential()
model.add(Dense(8,activation='relu'))
model.add(Dense(4,activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [ ]:
model.fit(x_train, y, batch_size=128,epochs=2000)

In [ ]:
#Submit part 
test_data=pd.read_excel('https://github.com/projjal1/datasets/blob/master/Book%20Price%20Pred%20Ds/Data_Test.xlsx?raw=true')
test_data=test_data.drop('Title',axis=1)
test_data=test_data.drop('Synopsis',axis=1)
test_data=test_data.drop('Edition',axis=1)

In [ ]:
submit=pd.read_excel('https://github.com/projjal1/datasets/blob/master/Book%20Price%20Pred%20Ds/Sample_Submission.xlsx?raw=true')

In [ ]:
test=preprocess(test_data)
x_test= scaler.fit_transform(test)

In [ ]:
res=[]
for itr in range(len(x_test)):
  dat=x_test[itr]
  dat=np.expand_dims(dat,axis=0)
  res.append(model.predict(dat)[0][0])
  print(itr)

In [ ]:
res=pd.DataFrame(res)
submit['Price']=res
submit.to_csv('final.csv',index=False)