<a href="https://colab.research.google.com/github/projjal1/Machine-Learning-Sklearn/blob/main/Merchandise_Popularity_Prediction_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Machine Learning Challenge for problem statement in https://www.machinehack.com/hackathons/merchandise_popularity_prediction_challenge/overview

In [ ]:
#Import all the modules
import sklearn
import pandas as pd

In [ ]:
#Import dataset 
tr_data=pd.read_csv('Train.csv')
tr_data.head(5)

   Store_Ratio  Basket_Ratio  Category_1  ...  Score_4    time  popularity
0        0.407       0.00380           2  ...  113.911  189125           4
1        0.234       0.10500           0  ...   76.332  186513           4
2        0.668       0.72600           9  ...  124.075  172143           4
3        0.184       0.00561           4  ...   79.037  184000           5
4        0.231       0.13100           6  ...  109.560  186507           3

[5 rows x 12 columns]

In [ ]:
tr_data.shape

(18208, 12)

In [ ]:
#Dropping label column
tr_labels=tr_data['popularity']
tr_data=tr_data.drop(['popularity'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

#Splitting into training and testing set 
tr_x,ts_x,tr_y,ts_y=train_test_split(tr_data,tr_labels,test_size=0.3)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier(n_estimators=1000)

#Fit the data 
model.fit(tr_x,tr_y.values.ravel())

#Get the score
model.score(ts_x,ts_y.values.ravel())

0.8824821526633718

In [ ]:
#Load the test data 
predict_data=pd.read_csv('Test.csv')
predict_data.head(5)

   Store_Ratio  Basket_Ratio  Category_1  ...  Score_3  Score_4    time
0        0.164         0.994           1  ...  0.00001  127.602  236436
1        0.586         0.636           4  ...  0.35500  136.337  253631
2        0.457         0.743           0  ...  0.68800  154.902  215669
3        0.423         0.748           5  ...  0.42800   93.977  325200
4        0.802         0.756           2  ...  0.96300  131.715  288293

[5 rows x 11 columns]

In [ ]:
predictions=model.predict(predict_data)

In [ ]:
predictions

array([3, 4, 4, ..., 4, 4, 4])

In [ ]:
output_formatted=[]
for each in predictions:
  app=[]
  for var in [0,1,3,4,5]:
    if each!=var:
      app.append('0')
    else:
      app.append('1')
  output_formatted.append(app)

In [ ]:
fout=open('sample_submission.csv','w')
fout.write(','.join(['0','1','3','4','5'])+'\n')
for each in output_formatted:
  fout.write(','.join(each)+'\n')
fout.close()